body{
    font:14px Verdana;
    color: #000000;
    padding:15px;
    margin:0 auto;
    width: 1000px;
}
#header {
    text-transform: uppercase;
    padding-top: 40px;
    margin:20px auto 10px auto;
    width:550px;
}
p {
    text-indent:30px;
}

a:link{
    color:black;
}
a:visited{
    color:blue;
}
a:hover{
    color:green;
}
a:active{
    color: orchid;;
}

h2 {
    text-align: center;
}
.new2 {
    text-align:center;
}

