
#div1,#div3,#div4,#div5,#div6 {
    border:1px solid blue; 
}
#div1 {
    width: 1200px;
    height: 100px;
    background-color: #2ECCFA;
}
#div2 {
    width: 1200px;
    height: 1200px;
    margin-top: 10px;
}
#div3 {
    width: 150px;
    height: 1200px;
    background-color: #00FF00;
    margin:0 10px 0 0;

}
#div4 {
    width: 1040px;
    height: 1200px;
    background-color: #F7FE2E;
    position:relative;
    left:150px;
    margin-left:5px;
}
#div5,#div6,#div7 {
    width: 1020px;
    height: 250px;
    background-color: #0000FF;
}
#div5 {
   position:relative;
    left:5px; 
    top:10px;
}
#div6 {
    position:relative;
    top:260px;
}
#div7 {
    position:relative;
    top: 260px;
}
